#pageTitle {
    text-align: center;
}

#inputContainer {
    border-style: solid;
    margin: 2%;
    padding: 10px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.input {
    padding: 10px;
    margin: 10px;
}

#outputContainer {
    border-style: solid;
    margin: 2%;
    padding: 10px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

#macroContainer, #formatContainer {
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

.macro {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: space-evenly;
    margin: 5px;
}

.macroIn {
    grid-column: 1;
}

.macroOut {
    grid-column: 2;
}

.macroName {
    grid-column: 3;
    text-align: center;
    vertical-align: middle;
}

#macroHeader {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    justify-content: space-evenly;
}

#moreMacros {
    float: right;
    padding: 5px;
    margin: 10px

}

#about {
    margin: 20px;
}

#resetContainer {
    text-align: center;
}