#pageTitle {
    text-align: center;
}

#textOptionsContainer {
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}

#macroContainer, #formatContainer {
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
}

#macroHeader {
    font-weight: bold;
}

.macroIn, .macroOut {
    width: 100%;
}

.macroName {
    vertical-align: center;
}

.macroIn, .macroOut, .macroName, #macroHeader, #moreMacros {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#moreMacros {
    width: 100%;
}

#aboutMacros, #aboutFormatting {
    text-align: left;
}

#about {
    margin: 20px;
}

#resetContainer {
    text-align: center;
}

.title {
    font-weight: bold;
}

#convertButton {
    width: 100%;
}

#italicContainer, #boldContainer, #macroRadio {
    text-align: left;
    margin-left: 2em;
}